body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    padding-top: 60px; /* Height of your navbar */
  }
.navbar {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 14px 20px;
    display: inline-block;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #2d2d2b;
    border-radius: 5px;
}
.logo {
    justify-content:left;
    height: 60px; /* adjust as needed */
    width: auto;
}
.content {
    margin-top: 60px; /* Ensure content is not hidden under fixed menu */
    padding: 20px;
}